---
import { Image } from "@astrojs/image/components";
import certificatesData from "@/data/certificatesData";
import type { Certificate } from "@/lib/types";
---

<section
  class="mx-auto my-4 w-full p-4 2xl:max-w-6xl 3xl:max-w-7xl"
  id="certificates"
>
  <h2
    class="ml-8 mb-8 animate-on-intersection text-2xl font-bold sm:text-3xl text-neutral-900 dark:text-neutral-200 lg:ml-0"
  >
    Certificates
  </h2>

  <div class="grid md:grid-cols-2 gap-8 px-5">
    {
      certificatesData.map((cer: Certificate) => {
        return (
          <div class="flex justify-start items-center rounded-lg bg-neutral-100 dark:bg-neutral-1000 gap-6 px-4">
            <div class="basis-1/4 flex items-center justify-center my-4">
              <Image
                width={512}
                height={512}
                src={cer.issuedBy.logo}
                alt={cer.issuedBy.name}
                object-fit="contain"
                loading="lazy"
                format="webp"
              />
            </div>

            <div class="basis-3/4 py-6">
              <div class="flex flex-col">
                <h3 class="sm:text-md mb-2 text-lg font-semibold text-neutral-900 dark:text-neutral-100 md:text-xl">
                  {cer.title}
                </h3>
                <p class="text-md text-neutral-700 dark:text-neutral-300 hidden sm:block">
                  {cer.issuedBy.name} - {cer.issuedDate}
                </p>
              </div>

              <div class="flex items-center justify-between sm:justify-end gap-6 text-sm">
                <p class="text-md text-neutral-700 dark:text-neutral-300 sm:hidden">
                  {cer.issuedBy.name} - {cer.issuedDate}
                </p>
                <a
                  href={cer.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="transform rounded-md bg-neutral-200 px-4 py-1 text-lg font-bold shadow duration-200 active:scale-90 dark:bg-neutral-800 dark:text-neutral-100 lg:hover:bg-neutral-1000 lg:hover:text-neutral-100 dark:lg:hover:bg-neutral-100 dark:lg:hover:text-neutral-1000"
                >
                  View
                </a>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</section>
