---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

interface ProjectData {
  title: string;
  shortDesc: string;
  description: string;
  type: string;
  image: string;
  links: {
    github: string;
    website: string;
  };
  tools: Array<string>;
}

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  props: ProjectData;
}
const { props } = Astro.props;
---

<div
  class="relative isolate overflow-hidden bg-neutral-50 dark:bg-neutral-1000 px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-neutral-200 dark:stroke-neutral-800 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)] dark:[mask-image:radial-gradient(64rem_64rem_at_top,black,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg
        x="50%"
        y="-1"
        class="overflow-visible fill-neutral-50 dark:fill-neutral-900"
      >
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p
            class="text-base font-semibold leading-7 gap-2 text-neutral-1000 dark:text-neutral-50"
          >
            Type:
            <span class="text-yellow-600">
              {props.type}
            </span>
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-4xl"
          >
            {props.title}
          </h1>
          <p
            class="mt-6 text-xl leading-8 text-neutral-700 dark:text-neutral-300"
          >
            {props.shortDesc}
          </p>
          <div class="flex justify-start items-center gap-4 mt-6">
            <a
              href={props.links.github}
              rel="noopener noreferrer"
              target="_blank"
              class="inline-flex items-center rounded-md border border-transparent bg-yellow-600 px-3 py-2 text-base font-medium leading-4 text-white shadow-sm hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
            >
              <Icon name="mdi:github" class="-ml-0.5 mr-2 h-6 w-6" />
              Code
            </a>
            <a
              href={props.links.website}
              rel="noopener noreferrer"
              target="_blank"
              class="inline-flex items-center rounded-md border border-transparent bg-yellow-600 px-3 py-2 text-base font-medium leading-4 text-white shadow-sm hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
            >
              <Icon name="ic:sharp-insert-link" class="-ml-0.5 mr-2 h-6 w-6" />
              Live
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="-mt-12 -ml-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <Image
        class="w-[48rem] max-w-none rounded-xl bg-neutral-900 dark:bg-neutral-100 shadow-xl shadow-neutral-800 dark:shadow-neutral-900 ring-1 ring-neutral-400/10 dark:ring-neutral-600/10 sm:w-[57rem]"
        src={props.image}
        width={3806}
        height={1865}
        loading="eager"
        alt={`Screenshot of ${props.title}`}
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div
          class="max-w-xl text-base leading-7 text-neutral-700 dark:text-neutral-300 lg:max-w-lg"
        >
          <p class="text-xl font-bold">Built with:</p>
          <!-- MAP Tools -->
          <div class="w-full flex gap-2 flex-wrap">
            {
              props.tools.map((tool) => (
                <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
                  {tool}
                </span>
              ))
            }
          </div>

          <p class="mt-8">
            {props.description}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
